@media (max-width: 479px) { .header_userinfo_mobile { float: none; display: inline-block; } }
.header_userinfo_mobile .top-userinfo { display: inline-block; position: relative; }
.header_userinfo_mobile .top-userinfo:hover .top-links { color: #c06b81; }
.header_userinfo_mobile .top-userinfo .top-links { font-weight: normal; padding: 0px 15px; line-height: 35px; color: #434343; text-shadow: none; cursor: pointer; font-size: 12px; }
.header_userinfo_mobile .top-userinfo .top-links:after { content: "\f107"; font-family: "FontAwesome"; font-size: 14px; line-height: 1; vertical-align: middle; padding-left: 7px; }
.header_userinfo_mobile .top-userinfo ul { display: none; position: absolute; padding: 0; top: 35px; left: 0; min-width: 157px; background: white; -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); z-index: 2; }
.header_userinfo_mobile .top-userinfo ul li { color: #434343; line-height: 40px; font-size: 12px; }
.header_userinfo_mobile .top-userinfo ul li a, .header_userinfo_mobile .top-userinfo ul li > span { padding: 0 15px; display: block; color: #434343; }
.header_userinfo_mobile .top-userinfo ul li.selected, .header_userinfo_mobile .top-userinfo ul li:hover a { color: #c06b81; }

.header_userinfo { float: right; }
.header_userinfo #header_links li { float: left; border-left: 1px solid #e5e5e5; }
.header_userinfo #header_links li:last-child { border-right: 1px solid #e5e5e5; }
.header_userinfo #header_links li a { white-space: nowrap; display: block; color: #999999; text-transform: capitalize; text-decoration: none; width: 35px; font-size: 0; padding: 0 10px; text-align: center; }
.header_userinfo #header_links li a:hover { color: white; padding: 0 20px; font-size: 12px; text-decoration: none; background: #c06b81; width: auto; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
.header_userinfo #header_links li a:hover:before { padding-right: 7px; }
.header_userinfo #header_links li a:before { display: inline-block; font-family: "FontAwesome"; font-size: 12px; line-height: 35px; }
.header_userinfo #header_links li a.link-myaccount:before { content: "\f013"; }
.header_userinfo #header_links li a.link-checkout:before { content: "\f046"; }
.header_userinfo #header_links li a.link-wishlist:before { content: "\f004"; }
.header_userinfo #header_links li a.login:before, .header_userinfo #header_links li a.logout:before { content: "\f13e"; }
