/* The Nivo Slider styles */
.nivoSlider { position: relative; width: 100%; overflow: hidden; margin-bottom: 30px; /* If an image is wrapped in a link */ }
.nivoSlider img { position: absolute; top: 0px; left: 0px; max-width: none; }
.nivoSlider a.nivo-imageLink { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; border: 0; padding: 0; margin: 0; z-index: 6; display: none; background: white; filter: alpha(opacity=0); opacity: 0; }

.nivo-main-image { display: block !important; position: relative !important; width: 100% !important; }

/* The slices and boxes in the Slider */
.nivo-slice { display: block; position: absolute; z-index: 5; height: 100%; top: 0; }

.nivo-box { display: block; position: absolute; z-index: 5; overflow: hidden; }
.nivo-box img { display: block; }

/* Caption styles */
.nivo-html-caption { display: none; }

@-webkit-keyframes myfirst { from { width: 0; }
  to { width: 100%; } }

@keyframes myfirst { from { width: 0; }
  to { width: 100%; } }

.timethai.pos_hover { -webkit-animation-play-state: paused; animation-play-state: paused; }

/* slideshow edit */
.pos-slideshow { position: relative; }
.pos-slideshow:hover .nivo-directionNav a { opacity: 1; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
.pos-slideshow .nivo-directionNav a { display: block; width: 4.2vw; height: 4.2vw; line-height: 3.92vw; border: 0.14vw solid #c06b81; color: #c06b81; background: white; border-radius: 100%; text-align: center; font-size: 1.68vw; position: absolute; z-index: 9; cursor: pointer; top: 50%; margin-top: -2.1vw; opacity: 0; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
@media (max-width: 640px) { .pos-slideshow .nivo-directionNav a { display: none; } }
.pos-slideshow .nivo-directionNav a.nivo-prevNav { left: 2.8vw; }
.pos-slideshow .nivo-directionNav a.nivo-nextNav { right: 2.8vw; }
.pos-slideshow .nivo-directionNav a:hover { background: #c06b81; color: white; }
.pos-slideshow .nivo-controlNav { position: absolute; bottom: 2.45vw; left: 0; width: 100%; text-align: center; z-index: 10; }
.pos-slideshow .nivo-controlNav a { display: inline-block; height: 15px; margin: 0 3px; font-size: 0; width: 15px; cursor: pointer; position: relative; text-align: center; z-index: 9; border-radius: 100%; border: 2px solid #fff; background: transparent; }
.pos-slideshow .nivo-controlNav a:before { content: ""; display: block; position: absolute; top: 3px; bottom: 3px; right: 3px; left: 3px; background: #fff; border-radius: 100%; }
.pos-slideshow .nivo-controlNav a.active { background: #c06b81; }

.pos-slideshow-content { position: absolute; top: 50%; left: 0; right: 0; z-index: 9; text-align: left; line-height: 1; margin-top: -11vw; font-weight: 400; }
.pos-slideshow-content p { margin: 0; }

.desc2 { text-align: center; letter-spacing: 2px; display: inline-block; padding: 0 4.2vw; }
.desc2 .title1 { font-size: 8.4vw; color: white; -webkit-animation: zoomInLeft 600ms ease-in-out; -moz-animation: zoomInLeft 600ms ease-in-out; -ms-animation: zoomInLeft 600ms ease-in-out; animation: zoomInLeft 600ms ease-in-out; }
.desc2 .title2 { -webkit-animation: zoomInLeft 1000ms ease-in-out; -moz-animation: zoomInLeft 1000ms ease-in-out; -ms-animation: zoomInLeft 1000ms ease-in-out; animation: zoomInLeft 1000ms ease-in-out; position: relative; margin: 2.1vw 0; font-size: 2.1vw; display: inline-block; background: #c06b81; color: white; line-height: 3.5vw; padding: 0 0.7vw; font-style: italic; font-weight: 300; }
.desc2 .title2:before { content: ""; height: 100%; position: absolute; left: -2.8vw; top: 0px; border: 1.75vw solid #c06b81; border-left: 1.75vw solid transparent; }
.desc2 .title2:after { content: ""; height: 100%; position: absolute; right: -2.8vw; top: 0px; border: 1.75vw solid #c06b81; border-right: 1.75vw solid transparent; }
.desc2 .readmore a { -webkit-animation: zoomInLeft 1400ms ease-in-out; -moz-animation: zoomInLeft 1400ms ease-in-out; -ms-animation: zoomInLeft 1400ms ease-in-out; animation: zoomInLeft 1400ms ease-in-out; position: relative; font-size: 0.91vw; color: white; line-height: 2.8vw; text-transform: uppercase; border: 1px solid white; display: inline-block; }
.desc2 .readmore a span { padding: 0 1.4vw; }
.desc2 .readmore a:after { content: "\f105"; font-family: FontAwesome; width: 2.8vw; display: inline-block; border-left: 1px solid white; text-align: center; }
.desc2 .readmore a:hover { background: #c06b81; border-color: #c06b81; }
.desc2 .readmore a:hover:after { border-color: #c06b81; }

.desc1 { text-align: center; letter-spacing: 2px; display: inline-block; padding: 0 4.2vw; }
.desc1 .title1 { -webkit-animation: zoomInRight 600ms ease-in-out; -moz-animation: zoomInRight 600ms ease-in-out; -ms-animation: zoomInRight 600ms ease-in-out; animation: zoomInRight 600ms ease-in-out; font-size: 3.5vw; color: white; text-transform: uppercase; }
.desc1 .title2 { -webkit-animation: zoomInRight 1000ms ease-in-out; -moz-animation: zoomInRight 1000ms ease-in-out; -ms-animation: zoomInRight 1000ms ease-in-out; animation: zoomInRight 1000ms ease-in-out; position: relative; margin: 1.4vw 0 2.8vw 0; font-size: 2.1vw; display: inline-block; color: #c06b81; line-height: 3.5vw; padding: 0 0.7vw; font-style: italic; }
.desc1 .title2:before { content: ""; height: 0.21vw; width: 3.85vw; background: #c06b81; position: absolute; left: -4.55vw; top: 1.75vw; }
.desc1 .readmore a { -webkit-animation: zoomInRight 1400ms ease-in-out; -moz-animation: zoomInRight 1400ms ease-in-out; -ms-animation: zoomInRight 1400ms ease-in-out; animation: zoomInRight 1400ms ease-in-out; position: relative; font-size: 0.91vw; color: white; line-height: 2.8vw; text-transform: uppercase; border: 1px solid white; display: inline-block; }
.desc1 .readmore a span { padding: 0 1.4vw; }
.desc1 .readmore a:after { content: "\f105"; font-family: FontAwesome; width: 2.8vw; display: inline-block; border-left: 1px solid white; text-align: center; }
.desc1 .readmore a:hover { background: #c06b81; border-color: #c06b81; }
.desc1 .readmore a:hover:after { border-color: #c06b81; }

@media (max-width: 480px) { .desc2 .title2 { font-size: 4.1vw; line-height: 5.5vw; }
  .desc2 .title2:before { left: -4.8vw; border: 2.75vw solid #c06b81; border-left: 2.75vw solid transparent; }
  .desc2 .title2:after { right: -4.8vw; border: 2.75vw solid #c06b81; border-right: 2.75vw solid transparent; }
  .desc2 .readmore a { font-size: 2.91vw; line-height: 4.8vw; }
  .desc2 .readmore a:after { width: 4.8vw; }
  .desc1 .title1 { font-size: 5.5vw; }
  .desc1 .title2 { font-size: 4.1vw; line-height: 5.5vw; }
  .desc1 .title2:before { content: ""; height: 0.41vw; width: 4.05vw; left: -4.75vw; top: 1.95vw; }
  .desc1 .readmore a { font-size: 2.91vw; line-height: 4.8vw; }
  .desc1 .readmore a:after { width: 4.8vw; } }
@-webkit-keyframes zoomInLeft { from { opacity: 0; -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0); transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0); -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% { opacity: 1; -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0); transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0); -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

@keyframes zoomInLeft { from { opacity: 0; -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0); transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0); -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% { opacity: 1; -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0); transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0); -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInLeft { -webkit-animation-name: zoomInLeft; animation-name: zoomInLeft; }

@-webkit-keyframes zoomInRight { from { opacity: 0; -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0); transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0); -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% { opacity: 1; -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0); transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0); -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

@keyframes zoomInRight { from { opacity: 0; -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0); transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0); -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% { opacity: 1; -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0); transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0); -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInRight { -webkit-animation-name: zoomInRight; animation-name: zoomInRight; }
