.product-tabs-container-slider { border-bottom: 1px solid #e5e5e5; padding-bottom: 50px; }

.tabs { position: relative; display: block; margin-bottom: 40px; text-align: center; }
.tabs li { position: relative; display: inline-block; line-height: 30px; padding: 0; margin: 0 20px; text-transform: uppercase; cursor: pointer; color: #999999; font-size: 20px; font-weight: 700; }
.tabs li:before { content: ""; height: 1px; width: 100%; background: transparent; position: absolute; bottom: -5px; left: 0; right: 0; display: block; }
.tabs li.active, .tabs li:hover { color: #363636; }
.tabs li.active:before, .tabs li:hover:before { background: #d6d6d6; }
