/* color:#53b5f6  */
#layer_cart .layer_cart_product .title,
.more-info-ii .idTabs li a.selected, .more-info-ii .idTabs li a:hover,
#categories_block_left li span.grower:hover + a, #categories_block_left li a:hover,
 #categories_block_left li a.selected,
.breadcrumb,.our_price_display .price,#reduction_percent, #reduction_amount,
.footer-container #footer .copyright a,
.footer-container #footer .centerFooter ul li a:hover,
.support-footer-inner .support-info:hover .info-title span, 
.support-footer-inner .support-info:hover .info-title i,
 .support-footer-inner .support-info:hover .info-title,
 .support-footer-inner .info-title i,
.subpage .lab-menu-horizontal ul.menu-content  li:first-child > a:hover,
.lab-menu-horizontal ul li.level-1 ul li.parent:hover::after,
.lab-menu-horizontal ul li.level-1 > a.active, .lab-menu-horizontal ul li.level-1 > a:hover,
.lab-menu-horizontal ul li.level-1 ul li a:hover,
.header_user_info.lab-user a, .header_user_info a:hover, .header_user_info a.active, 
.price.product-price,.product-name a:hover,
#search_block_top .button:hover,header .nav .current:hover,.displayTop .current:hover,
#contact-link a:hover, #contact-link a.active,
.shop-phone strong,#search_block_top .button-search:hover::before,
#search_block_top .search-cat-selector .selector span::after,
.free-shipping p span,.lablistproducts .right-block .lab-cart .button:hover,
.sdsblog-box-content .content-blog .labname a:hover,
.footer-container #footer .link-footer a:hover,.support-footer-inner .info-title span span,
#block_contact_infos p .email a,.breadcrumb a:hover,
 #product_condition .editable, #product_reference .editable,
 .labmegamenu .current a:hover,.lab_tab .nav li a:hover, .lab_tab .nav li.active a,.text-right a:hover,
 .lab-countdown .item .right-block .product-name a:hover,
 #search_block_top .current:hover, #search_block_top .current.active,
 .nivo-caption .style1 .title h4 .word3,.nivo-caption .readmore a,
.testimonials .item .des_company,.nivo-caption .style2 .title h4,
 #block_contact_infos p i,.block .products-block .product-name:hover,
 .blockPosition1 .lab_static .static-text a,
 .lablistproducts .right-block .lab-cart .button span:hover
{
	color:#53b5f6;
}

/* background-color:#53b5f6 */

.button.button-medium:hover,.cart_block .cart-buttons a#button_order_cart span,
#view_scroll_left:hover, #view_scroll_right:hover,
#usefull_link_block li a:hover::before, 
.box-cart-bottom #wishlist_button_nopop:hover::before,
.top-pagination-content ul.pagination li > a:hover span, 
.bottom-pagination-content ul.pagination li > a:hover span,
.top-pagination-content ul.pagination li.active > span span,
 .bottom-pagination-content ul.pagination li.active > span span,
.tags_block .block_content a:hover,
ul.product_list.column > li .add-to-links li a.checked, ul.product_list.column > li .add-to-links li a:hover,
#footer #newsletter_block_left .form-group .button-small:hover span,
.sdsblog-box-content .content-blog .labname a::before,
.testimonials .owl-page:hover span, .testimonials .owl-page.active span,.mypresta_scrollup,
.laberthemes .lab_boxnp a:hover,
.lab-menu-horizontal ul li h2 a:before,
.labpopup .fancybox-skin .fancybox-close,.button_unique,
.lab-countdown .item .right-block .actions li.lab-cart a,
ul.product_list.list > li .lab-cart a:hover,
.box-info-product .exclusive.added span, .box-info-product .exclusive:hover span,
.shopping_cart > a:first-child .ajax_cart_quantity,
.button.exclusive-medium span:hover,#newsletter_block_left .button.button-small,
.lablistproducts .actions li a.active, .lablistproducts .actions li a.checked, .lablistproducts .actions li a:hover,
.blockPosition3 .static_text a,.sdsblog-box-content .content-blog .read-more,
.footer-container #footer #social_block ul li a:hover,
.content_sortPagiBar .display li.selected a, .content_sortPagiBar .display_m li.selected a,
ul.product_list.list > li .lab-button-container .add-to-links li a.checked,
 ul.product_list.list > li .lab-button-container .add-to-links li a:hover,
 ul.product_list.list > li .lab-button-container .lab-cart .button:hover,
 .ui-slider-horizontal .ui-slider-range,
 .labcolumn .right-block .actions ul li a:hover, .labcolumn .right-block .lab-cart a:hover,
.content_sortPagiBar .display li a:hover, .content_sortPagiBar .display_m li a:hover{
	background-color:#53b5f6
}
/* border-color:#53b5f6 */
.button.button-medium:hover,.cart_block .cart-buttons a#button_order_cart span,
#view_scroll_left:hover, #view_scroll_right:hover,
#thumbs_list li a:hover, #thumbs_list li a.shown,
#usefull_link_block li a:hover::before, .box-cart-bottom #wishlist_button_nopop:hover::before,
.top-pagination-content ul.pagination li.active > span, .bottom-pagination-content ul.pagination li.active > span,
.top-pagination-content ul.pagination li > a:hover, .bottom-pagination-content ul.pagination li > a:hover,
.tags_block .block_content a:hover,
 ul.product_list.column > li .add-to-links li a.checked, ul.product_list.column > li .add-to-links li a:hover,
#footer #newsletter_block_left .form-group .button-small:hover span,
.support-footer-inner .support-info:hover,
.testimonials .owl-page::before,.mypresta_scrollup:hover,
.lablistproducts .actions li a.active, .lablistproducts .actions li a.checked, .lablistproducts .actions li a:hover,
.lablistproducts .right-block .lab-cart .button:hover,
.box-info-product .exclusive.added span, .box-info-product .exclusive:hover span,
.more-info-ii .idTabs li a::before,.button.exclusive-medium span:hover,
.laberthemes .lab_boxnp a:hover,.text-right:hover, .text-center:hover,
.lab-countdown .item .left-block::before,.blockPosition3 .static_text,
ul.product_list.list > li .lab-button-container .add-to-links li a.checked,
 ul.product_list.list > li .lab-button-container .add-to-links li a:hover,
 ul.product_list.list > li .lab-button-container .lab-cart .button:hover,
 .labcolumn .right-block .actions ul li a:hover, .labcolumn .right-block .lab-cart a:hover,
 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
  .labcolumn .title_block::before,.labcolumn .title_block::after,
.footer-container #footer #social_block ul li a:hover{
	border-color:#53b5f6
}