#search_block_top { position: absolute; left: 0; top: 25px; }
@media (max-width: 991px) { #search_block_top { position: relative; } }
#search_block_top #searchbox { float: left; position: relative; }
#search_block_top .btn.button-search { position: absolute; top: 5px; right: 0; background: white; display: block; border: none; color: #9f9f9f; width: 40px; text-align: center; line-height: 35px; height: 35px; padding: 0; }
#search_block_top .btn.button-search span { display: none; }
#search_block_top .btn.button-search:before { content: ""; display: block; background: url(../../../img/icon_search.png) no-repeat center 5px; font-size: 18px; width: 100%; text-align: center; position: absolute; top: 0; left: 0; bottom: 0; top: 0; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
#search_block_top .btn.button-search:hover:before { background-position: center -30px; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
#search_block_top .btn.button-search:active { box-shadow: none; }
#search_block_top #search_query_top { min-width: 250px; display: inline; padding: 10px 40px 10px 10px; height: 35px; z-index: 1; color: #898989; background: #fff; border: 0; border-bottom: 1px solid #999999; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
#search_block_top #search_query_top:focus { box-shadow: none; }

.ac_results { background: white; border: 1px solid #e5e5e5; width: auto !important; margin-top: -1px; }
.ac_results li { padding: 0 10px; font-weight: normal; color: #686666; font-size: 13px; line-height: 22px; }
.ac_results li.ac_odd { background: white; }
.ac_results li:hover, .ac_results li.ac_over { background: #fbfbfb; }

form#searchbox { position: relative; }
form#searchbox label { color: #333333; }
form#searchbox input#search_query_block { margin-right: 10px; max-width: 222px; margin-bottom: 10px; display: inline-block; float: left; }
form#searchbox .button.button-small { float: left; }
form#searchbox .button.button-small i { margin-right: 0; }

@media (max-width: 767px) { #search_block_top { position: static; margin-top: 25px; width: 100%; }
  #search_block_top #searchbox { float: none; margin-bottom: 20px; } }
