@import "compass";
@import "../../_theme_variables";
.product-tabs-container-slider {
	border-bottom:$main_border;
	padding-bottom:50px;
}
.tabs {
	position:relative;
	display:block;
	margin-bottom:40px;
	text-align:center;
	li {
		position:relative;
		display:inline-block;
		line-height:30px;
		padding: 0;
		margin:0 20px;
		text-transform:uppercase;
		cursor:pointer;
		color:#999999;
		font:{
			size:20px;
			weight:700;
		}
		&:before {
			content:"";
			height:1px;
			width:100%;
			background:transparent;
			position:absolute;
			bottom:-5px;
			left:0;
			right:0;
			display:block;
		}
		
		&.active,&:hover {
			color:#363636;
			
		}
		&.active:before,&:hover:before{
			background:#d6d6d6;
			
		}
		
		@media (max-width:$screen-xs) {	
		
		}
		
		
	}
}