.tab_container{
	position:relative;
}
.product-tabs-slider{
	position:relative;
}
.lab_tabs{
    margin:0 0 30px;
	position:relative;
	text-align:center;
}

.tabs{
	position:relative;
	margin:0;
	padding:0;
	background:#fff;
	display:inline-block;
}
.tabs li{
    color: #666666;
    display: inline;
    float: left;
	font-weight: 600;
    font-size: 14px;
	line-height:1;
    padding:0;
	margin:0  0 0 20px;
	padding:0  0 0 20px;
    text-transform: uppercase;
	cursor: pointer;
	line-height: 32px;
	font-family:"Montserrat",sans-serif;
	position:relative;
-webkit-transition: all 300ms ease-in;
-moz-transition: all 300ms ease-in;
-ms-transition: all 300ms ease-in;
-o-transition: all 300ms ease-in;
transition: all 300ms ease-in;
}
.tabs li.first_item{
	margin:0;
	padding:0;
}
.tabs li span{
	color: #e8e8e8;
    left:0;
    position: absolute;
    top: 0;
}
.tabs li.first_item  span{
	display:none;
}
.tabs li.active:before{
	border-bottom: 2px solid #aaaaaa;
    bottom: 0;
    content: "";
    left: 20px;
    margin: 0 auto;
    position: absolute;
	width:20px;
}
.tabs li.first_item.active:before{
	left:0;
}
.tabs li:hover,
.tabs li.active{
	color:#000;
}
.tabs li.last_item {
	margin-right:0;
}
.productTabContent .item-inner{
	display:none;
	margin-bottom:30px;
}
.box_loadMore{
    clear: both;
    position: relative;
    text-align: center;
	margin:0 15px;
}

.loadMore {
	border: 2px solid #bbbbbb;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    padding-left: 15px;
    padding-right: 5px;
    position: relative;
}
.loadMore i{
	opacity:0;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.loadMore.active i{
	opacity:1;
	margin:0 10px;
}
.loadMore.disabled {

}
@media (min-width:768px) and (max-width: 991px){
	.productTabContent .item-inner .right-block .h5product-name {
		margin: 0 0 15px;
		min-height: 50px;
	}
}
@media (min-width:480px) and (max-width: 767px){
	.productTabContent .item-inner{
		width:50%;
		float:left;
	}
	.productTabContent .item-inner .right-block .h5product-name {
		margin: 0 0 15px;
		min-height: 50px;
	}
}
@media (max-width: 480px){
	.lab_tabs{
		margin-bottom:0;
	}
	.tabs li{
		font-size: 14px;
		margin: 0 2px 15px;
		padding:0 10px;
	}

	.product-tabs-slider .lab_boxnp{
		display:none;
	}
	.box-cart-bottom .box-cart{
		margin:0;
	}
}
