.labpopupnewsletter {display: none;}
.labpopup .fancybox-skin .fancybox-close {
	  background-color: #a98b69;
	  border-radius: 0;
    color: #ffffff;
    height: 40px;
    line-height: 33px;
    right: 0;
    top: 0;
    width: 40px;
    z-index: 8;
}
.labpopup .fancybox-skin .fancybox-close:hover{
	background-color:#535353;
}
.labpopup .fancybox-skin .fancybox-close:after {
    font-family: "ElegantIcons";
    content: "\4d";
    font-size: 20px;
	font-weight:bold;
}
#newsletter_block_popup {
	bottom: 30px;
     right: 35px;
    margin: 0;
    position: absolute;
	text-align: center;
	width: 450px;
}
#newsletter_block_popup .block_content{
    display: inline-block;
    padding-bottom: 50px;
}
.labpopup .inputNew {
	  background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    color: #888888;
    display: inline-block;
    font-family: Droid Serif,serif;
    font-size: 13px;
    font-style: italic;
    height: 45px;
    line-height: 45px;
    margin-bottom: 35px;
    padding: 0 15px;
    text-transform: none;
    width: 370px;
}
.popup_title h2{
	 color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px;
    text-transform: uppercase;
}
.popup_text {
	color: #666666;
    font-family: Droid Serif,serif;
    font-size: 14px;
    font-style: italic;
    max-width: 445px;
    padding-bottom: 35px;
	line-height: 25px;
}
.button_unique {
	background-color: #a98b69;
    border: medium none;
    clear: both;
    color: #ffffff;
    cursor: pointer;
    display: block;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 45px;
    padding: 0 30px;
    text-align: center;
    text-transform: uppercase;
    transition:all 0.3s ease-in-out 0s; -webkit-transition:all 0.3s ease-in-out 0s; -moz-transition:all 0.3s ease-in-out 0s;
}
.button_unique:hover{
    background: #535353;
}
.send-response {
    font: normal 16px "Open Sans";
    color:#990000;
    padding-bottom: 5px;
}
.newsletter_block_popup-bottom{
    bottom: 0;
    position: absolute;
    left: 0;
	 right: 0;
}
.newsletter_block_popup-bottom label{
	color: #666666;
	font-family: Droid Serif,serif;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
}
#uniform-newsletter_popup_dont_show_again{
	 display: inline;
    margin-right: 10px;
   padding-top: 5px;
}

.fancybox-close-overlay {
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    z-index: 9;
}
@media (min-width: 991px) and (max-width: 1024px) {
	
}
@media (min-width: 768px) and (max-width: 991px) {
	.labpopup .inputNew{
		background-color:#fff;
	}
}
