.labpopupnewsletter {display: none;}
.labpopup .fancybox-skin .fancybox-close {
	background-color: #ff5555;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    color: #ffffff;
    height: 40px;
    line-height: 33px;
    right: -20px;
    top: -20px;
    width: 40px;
    z-index: 8;
}
.labpopup .fancybox-skin .fancybox-close:hover{
	background-color:#535353;
}
.labpopup .fancybox-skin .fancybox-close:after {
    font-family: "ElegantIcons";
    content: "\4d";
    font-size: 20px;
	font-weight:bold;
}
#newsletter_block_popup {
	bottom: 30px;
    left: 30px;
    margin: 0;
    position: absolute;
}
#newsletter_block_popup .block_content{
    padding-bottom: 255px;
}
.labpopup .inputNew {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #d7d9dd;
    color: #555555;
    float: left;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 40px;
    padding: 0 0 0 15px;
    text-transform: none;
    width: 485px;
}
.popup_title h2{
	font-family: "Montserrat",sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px;
    text-transform: uppercase;
}
.popup_text {
	font-size: 14px;
    font-style: italic;
    padding-bottom: 40px;
	max-width: 360px;
}
.button_unique {
	background-color: #ff5555;
    border: medium none;
    clear: both;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    padding: 0 30px;
    text-align: center;
    text-transform: uppercase;
    transition:all 0.3s ease-in-out 0s; -webkit-transition:all 0.3s ease-in-out 0s; -moz-transition:all 0.3s ease-in-out 0s;
}
.button_unique:hover{
    background: #535353;
}
.send-response {
    font: normal 16px "Open Sans";
    color:#990000;
    padding-bottom: 5px;
}
.newsletter_block_popup-bottom{
    bottom: 0;
    position: absolute;
    left: 0;
}
.newsletter_block_popup-bottom label{
	color: #666666;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
#uniform-newsletter_popup_dont_show_again{
	float: left;
    margin-right: 10px;
    margin-top: 7px;
}

.fancybox-close-overlay {
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: -20px;
    top: -20px;
    width: 40px;
    z-index: 9;
}
@media (min-width: 991px) and (max-width: 1024px) {
	
}
@media (min-width: 768px) and (max-width: 991px) {
	.labpopup .inputNew{
		background-color:#fff;
	}
}
